<h1>Cadastrar Projeto</h1>

<form action="/projetos/cadastrar" method="post">
<input type="hidden" name="id" id="id" value="{{projeto.id}}">
<div>
<label for="nome">nome</label>
<input type="text" name="nome" id="nome" value="{{projeto.nome}}"/> 
</div>
<div style="margin-top:10px"><label for="data_inicio">Data de Início</label>
<input name="data_inicio" type="date" value="{{projeto.data_inicio}}"></input>
</div>
<div style="margin-top:10px"><label for="data_termino">Data de Término</label>
<input name="data_termino" type="date" value="{{projeto.data_termino}}"></input>
</div>
<div style="margin-top:10px"><label for="descricao">Descrição</label>
<input name="descricao" type="text" value="{{projeto.descricao}}"></input>
</div>

<button type="submit">Salvar</button>
</form>